@import url(reset.css);
@import url(global.css);

/* ----------------------廣告BAR-------------------- */
.kv {
    margin-bottom: 100px;
}

.kv .bar {
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(../IMG/kvbar.jpg);
    background-size: cover;
    background-position: center center;
    padding: 200px 0;
    position: relative;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.551), 1px 0 15px rgba(0, 0, 0, 0.203); */
}

.kv .bar:before,
.kv .bar:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 16px;
    left: 10px;
    width: 50%;
    top: 80%;
    /* max-width: 300px; */
    background: rgba(0, 0, 0, 0.625);
    /* -webkit-box-shadow: 0 16px 14px rgba(0, 0, 0, 0.61); */
    /* -moz-box-shadow: 0 16px 14px rgba(0, 0, 0, 0.676); */
    box-shadow: 0 24px 16px rgba(0, 0, 0, 0.5);
    /* -webkit-transform: rotate(-3deg); */
    /* -moz-transform: rotate(-3deg); */
    /* -o-transform: rotate(-3deg); */
    /* -ms-transform: rotate(-3deg); */
    transform: rotate(-2deg);
}

.kv .bar:after {
    /* -webkit-transform: rotate(3deg); */
    /* -moz-transform: rotate(3deg); */
    /* -o-transform: rotate(3deg); */
    /* -ms-transform: rotate(3deg); */
    transform: rotate(2deg);
    right: 10px;
    left: auto;
}


.kv h6 {
    font-size: 9rem;
    width: fit-content;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 40%;
    left: 6%;
    animation: in;
    animation-duration: 2s;

}

@keyframes in {
    from {
        left: -6%;
        opacity: 0;
    }

    to {
        left: 6%;
        opacity: 1;
    }
}

.kv h5 {
    font-size: 6.5rem;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 67%;
    left: 51%;
    transform: translateX(-50%);
    animation: show;
    animation-duration: 2.5s;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.kv h4 {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 0.3em #fff;
    position: absolute;
    left: 74%;
    top: 74%;
    animation: in2;
    animation-duration: 2s;
}

@keyframes in2 {
    from {
        left: 79%;
        opacity: 0;
    }

    to {
        left: 74%;
        opacity: 1;
    }
}

.kv h6,
.kv h5,
.kv h4 {
    white-space: nowrap
}

/* ----------------------新品互動-------------------- */

.newwindow ul {
    /* background-color: #fff; */
    position: relative;
    padding: 40px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}


.newwindow li {
    width: 240px;
    /* box-shadow: inset 3px 3px 4px white;
    box-shadow: inset -5px -5px 4px #7E58A5; */
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
}

.newwindow ul .coupon {
    position: absolute;
    top: 100%;
    left: 35%;
    box-shadow: none;
    width: auto;
    z-index: 2;
    box-sizing: border-box;
    padding: 200px;
    width: 500px;
    height: 400px;
}

.up {
    background-color: #7E58A5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    box-shadow: inset 3px 3px 6px white, inset 3px 3px 6px rgba(255, 255, 255, 0.194), inset -5px -5px 6px rgba(0, 0, 0, 0.4);
    height: 30px;
}

.up img {
    height: 70%;
    margin-top: 4px;
    margin-right: 4px;
}

.down {
    background-color: #F06882;
    box-shadow: inset 3px 3px 6px rgba(255, 255, 255, 0.194), inset -5px -5px 6px rgba(0, 0, 0, 0.4), inset 3px 0 6px white;
}

.down img {
    width: 90%;
    margin: 10px;
}

.newwindow ul .one {
    position: absolute;
    top: 18%;
    left: 40%;
    z-index: 6;
}

.newwindow ul .two {
    width: 200px;
    position: absolute;
    top: 84%;
    left: 50%;
    z-index: 5;
}

.newwindow ul .three {
    position: absolute;
    top: 300%;
    left: 30%;
    z-index: 4;
}


.newwindow ul .four {
    width: 320px;
    position: absolute;
    top: 250%;
    left: 47%;
    z-index: 3;
}

.newwindow ul .five {
    width: 320px;
    position: absolute;
    top: 324%;
    left: 30%;
    z-index: 6;
    display: none;

}

.filewrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1200px;
    height: 368px;
    box-sizing: border-box;
    margin: 50px auto;
    /* background-color: #fff; */
    position: relative;
}

.newfile p {
    font-size: 1.6rem;
    color: #4D545A;
    margin-left: 15px;
}

.newfile a {
    text-decoration: none;
    /* position:absolute ; */
}

.newfile h4 {
    background-image: url(../IMG/file.png);
    background-size: 120px 100px;
    background-repeat: no-repeat;
    padding: 30px;
    padding-left: 16px;
    padding-bottom: 16px;
    font-size: 3.8rem;
    margin-left: 12px;
    color: #7E58A5;
    text-align: left;
}

.newfile:hover {
    transform: scale(1.05);
    border: #583D74 3px dashed;
    z-index: 10;
}

.newfile {
    position: absolute;
    left: 10%;
    z-index: 1;
    margin-bottom: 20px;
    padding: 6px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 8px;
    box-sizing: border-box;
}

.newfile2 {
    top: 50%;
}


.newfile1 .six {
    width: 200px;
    text-align: center;
    list-style: none;
    position: absolute;
    top: 0%;
    left: 300%;
    transition: .7s;
    opacity: 0;
}

.newfile1:hover .six {
    opacity: 1;
    width: 500px;
    font-size: 2.5rem;
    top: -52%;
    left: 160%;
}


.newfile2 .five {
    width: 200px;
    text-align: center;
    list-style: none;
    position: absolute;
    top: -107%;
    left: 300%;
    transition: .7s;
    opacity: 0;
}

.newfile2:hover .five {
    opacity: 1;
    width: 500px;
    top: -152%;
    left: 163%;
    font-size: 2.5rem;

}

.newfile .up h1 {
    color: #FFC6A9;
    font-size: 2rem;
    margin-left: 15px;
    margin-top: 5px;
}

/* ----------------------品牌概念-------------------- */

.ppbackwrap {
    overflow: hidden;
}

.ppback {
    padding: 400px;
    margin-top: 100px;
    position: relative;
    font-size: 11rem;
    letter-spacing: 12%;
    font-family: 'Black Han Sans', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    color: #F06882;
    text-shadow: 8px 8px 0 white, -8px -8px 0 white, -8px 8px 0 white, 8px -8px 0 white, 25px 15px 0 #F06882;
    transform: rotate(3deg)
}

.ppback h3:nth-child(odd) {
    position: absolute;
    left: 0%;
    animation: rightTOleft;
    animation-duration: 37s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rightTOleft {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

.ppback h3:nth-child(even) {
    position: absolute;
    right: 0%;
    animation: leftTOright;
    animation-duration: 37s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes leftTOright {
    from {
        right: 0%;
    }

    to {
        right: -100%;
    }
}

.ppback .line1 {
    position: absolute;
    top: 0;
}

.ppback .line2 {
    position: absolute;
    top: 16%;
}

.ppback .line3 {
    position: absolute;
    top: 32%;
}

.ppback .line4 {
    position: absolute;
    top: 48%;
}

.ppback .line5 {
    position: absolute;
    top: 64%;
}

.ppback .line6 {
    position: absolute;
    top: 80%;
}

.conceptwrap {
    position: relative;
    margin-bottom: 100px;
    /* background-color: #ffffff32; */
}

.concept {
    width: 590px;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.concept .up {
    padding: 10px;
}

.concept .down {
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
}

.concept .down h2 {
    font-size: 3rem;
    color: #7E58A5;
    margin: 20px 0;
}

.concept .down p {
    font-size: 2.5rem;
    color: #4D545A;
    text-align-last: left;
    margin: 0 80px 50px;
}

html {
    scroll-behavior: smooth;
}

/* ----------------------產品-------------------- */

.product {
    width: 650px;
    margin: 50px auto;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.product .up {
    padding: 8px;
}

.product span {
    font-size: 2.5rem;
    color: #4D545A;
    border: #4D545A 3px solid;
    box-shadow: #4d545a3c 3px 3px 2px;
    padding: 8px;
    padding-right: 120px;
}

.product .down {
    padding: 20px;
}

.product .down ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    border: #4D545A 3px solid;
    box-shadow: #4d545a3c 3px 3px 2px;
    margin-top: 20px;
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 20px;
}

/* .product .down ul::-webkit-scrollbar-arrow-color{
    color: #4D545A;
} */

.product .down ul::-webkit-scrollbar {
    width: 2em;
}

.product .down ul::-webkit-scrollbar-thumb {
    background-color: #7E58A5;
    border-left: #4D545A 3px solid;
    border-top: #4D545A 3px solid;
    border-bottom: #4D545A 3px solid;
}

.product .down ul::-webkit-scrollbar-button {
    background-color: #644586;
    border-left: #4D545A 3px solid;
}

.product .down ul::-webkit-scrollbar-track {
    border-left: #4D545A 3px solid;
}


.product .down ul li:hover {
    transform: scale(1.05);
    outline: #583D74 3px dashed;
}

.product .down ul li {
    margin: 18px;
    margin-bottom: 25px;
    padding: 5px;
    padding-right: 8px;
}

.product .down ul li img {
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 12px 11px 7px;
}

.product .down ul li p {
    color: #4D545A;
    font-size: 3rem;
    text-align: center;
}

.view {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.view i {
    color: #FFC6A9;
    font-size: 4rem;
}

.view h2 {
    font-size: 3rem
}

.view .up {
    padding: 3px;
}

.view .down div {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 5px auto 0;
}

.view .down a {
    font-size: 1.5rem;
    width: 40%;
    height: 35px;
    line-height: 37px;
}

.viewwrap {
    position: relative;
    opacity: 0;
}

/* ---------------------膚色診斷--------------------- */

.diagnosis section {
    background-image: url(../IMG/visual.jpg);
    background-attachment: fixed;
    width: 1200px;
    ;
    /* height: 400px; */
    margin: 300px auto 150px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffffff, 1px 1px 8px #7E58A5;
    text-align: center;
    line-height: 400px;

    animation: colourful;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start
}

@keyframes colourful {
    20% {
        color: #ffffff;
    }

    40% {
        color: #F59BBE;
    }

    60% {
        color: #FFC6A9;
    }

    80% {
        color: #F06882;
    }

    100% {
        color: #7E58A5;
    }
}

.diagnosis .window {
    width: 600px;
    margin: 0 auto;
    position: relative;
    left: -13%;

}

.diagnosis .window::before {
    content: "PARTY";
    position: absolute;
    font-size: 10rem;
    font-family: 'Black Han Sans', sans-serif;
    color: #d93971db;
    text-shadow: #d93971b2 0 -50px, #d9397192 0 -100px, #d939716c 0 -150px, #d939715d 0 -200px, #d9397136 0 -250px, #ffffff21 0 -300px;
}

.diagnosis .window::before {
    top: 65%;
    left: 115%;
}

.diagnosis .down {
    padding: 20px;
}

.diagnosis .up {
    padding: 10px;
}

.diagnosis .down h2 {
    font-size: 2.5rem;
    color: #7E58A5;
    margin: 30px 20px;
}

.diagnosis .down p {
    font-size: 2.5rem;
    color: #4D545A;
    text-align-last: left;
    margin: 0 30px 20px 35px;
    display: block;
}


.diagnosis .down img {
    width: 45px;
    padding: 20px 10px 20px 0;
}

.diagnosis .down .diawrap {
    /* display: flex; */
    border: #4D545A 3px solid;
    margin: 20px;
    padding-bottom: 10px;
}

.diagnosis a {
    display: block;
    width: 370px;
    text-align: center;
    margin: 30px auto;
    padding: 15px;
}

/* ---------------------社群媒體--------------------- */

.follow {
    margin: 100px 0;
    margin-top: 200px;
    background-color: #F06882;
    color: #FFC6A9;
    font-size: 5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.follow span {
    position: relative;
    line-height: 75px;
    padding-top: 8px;
}

.follow_sns {
    background-color: #F06882;
    padding: 0 10px;
    z-index: 6;
}

.follow_words {
    background-color: #F06882;
    position: absolute;
    z-index: 5;
}

.follow span::before,
.follow span::after {
    content: "";
    background: #FFC6A9;
    position: absolute;
    top: 50%;
    width: 81%;
    height: 2px;
}

.follow span::before {
    left: 104%;
}

.follow span::after {
    right: 105%;
}

.follow a {
    color: #FFC6A9;
    transition: .2s;
}

.follow i {
    line-height: 75px;
}

.follow a:hover {
    color: #ffd7c4;
}

.ins {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 1016px;
    margin: 0 auto;
}

.ins h2:first-child {
    grid-column: 1/2;
    line-height: 100px;
}

.ins h2:nth-child(2) {
    grid-column: 3/5;
    text-align: right;
    line-height: 100px;
}

.ins .insp {
    display: flex;
    grid-column: 1/5;
    grid-row: 2/3;
    /* border-bottom: 3px solid #F06882; */
    padding: 20px 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.ins .insp::-webkit-scrollbar {
    height: 2px;
}

.ins .insp::-webkit-scrollbar-thumb {
    background: #F06882;
}

.ins .insp::-webkit-scrollbar-track {
    background-color: #ffffff7e;
}

.ins .insp li {
    position: relative;
}

.insp i {
    position: absolute;
    color: white;
    font-size: 2.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    transition: .5s;
    display: none;
}

.ins .insp img {
    width: 250px;
    padding: 2px;
    transition: .5s;
}

.ins .arrow {
    grid-column: 4/5;
    grid-row: 3/4;
    color: #F06882;
    display: flex;
    font-size: 4rem;
    justify-content: end;
    align-items: baseline;
}

.ins .arrow li {
    padding: 15px;
    cursor: pointer;
}

.ins .arrow li:hover {
    color: #ff6c87;
}

.ins .arrow li:first-child {
    transform: rotateY(180deg);
}

.ins .insp li:hover img {
    filter: brightness(.4);
}

.ins .insp li:hover i {
    display: block;
}

/* ---------------------414--------------------- */

@media screen and (max-width:414px) {

    .container {
        width: 100%;
        /* overflow: hidden; */
    }

    .kv h6 {
        font-size: 5rem;
        left: 3%;
    }

    @keyframes in {
        from {
            left: -3%;
            opacity: 0;
        }

        to {
            left: 3%;
            opacity: 1;
        }
    }

    .kv h5 {
        font-size: 4rem;
        text-shadow: .3px .3px 0 white, -.3px -.3px 0 white;
    }

    .kv h4 {
        font-size: 3rem;
        position: absolute;
        left: 47%;
        top: 56%;
        animation: in2;
        animation-duration: 2s;
    }

    @keyframes in2 {
        from {
            left: 60%;
            opacity: 0;
        }

        to {
            left: 47%;
            opacity: 1;
        }
    }

    .filewrap {
        width: 100%;
    }

    .newfile {
        top: -50%;
        left: 10%;
    }

    .newfile2 {
        top: -50%;
        left: 50%;
    }

    .newwindow ul .one {
        top: 223%;
        left: 15%;
    }

    .newwindow ul .two {
        top: 268%;
        left: 5%;
    }

    .newwindow ul .three {
        top: 300%;
        left: 20%;
    }


    .newwindow ul .four {
        top: 317%;
        left: 11%;
    }

    .newwindow ul .coupon {
        top: 190%;
        left: 0%;
        padding: 100px;
        width: 100%;
    }

    .newfile1 .six {
        top: 225%;
        left: 46%;

    }

    .newfile1:hover .six {
        opacity: 1;
        width: 347px;
        font-size: 1.5rem;
        top: 165%;
        left: -9%;
    }


    .newfile2 .five {
        top: 197%;
        left: -69%;
    }

    .newfile2:hover .five {
        opacity: 1;
        width: 347px;
        font-size: 1.5rem;
        top: 166%;
        left: -116%;
    }

    .conceptwrap {
        margin-bottom: 60px
    }


    .concept {
        width: 90%;
    }

    .concept .down {
        padding: 30px;
    }

    .concept .down h2 {
        font-size: 2rem;
        color: #7E58A5;
        margin: 10px 0;
    }

    .concept .down p {
        font-size: 1rem;
        color: #4D545A;
        text-align-last: left;
        margin: 0 50px 20px;
    }

    .concept .up h1 {
        font-size: 2rem;
    }

    .ppback {
        padding: 300px;
        font-size: 8rem;
        text-shadow: 4px 4px 0 white, -4px -4px 0 white, -4px 4px 0 white, 4px -4px 0 white, 12px 7px 0 #F06882;
    }

    .product {
        width: 90%;
        margin: 0 auto;
        box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;
    }

    .product span {
        font-size: 2.5rem;
        color: #4D545A;
        border: #4D545A 3px solid;
        box-shadow: #4d545a3c 3px 3px 2px;
        padding: 8px;
    }

    .diagnosis section {
        background-attachment: scroll;
        width: 100%;
        font-size: 3.5rem;
        color: #ffffff;
        text-shadow: 0px 0px 5px #ffffff, 1px 1px 8px #7E58A5;
        text-align: center;
        line-height: 400px;
        margin-bottom: 80px;
        animation: colourful;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: step-start
    }

    .diagnosis .window {
        width: 90%;
        position: relative;
        left: .1%;
    }

    .diagnosis .window::before {
        display: none;
    }

    .diagnosis .down h2 {
        box-sizing: border-box;
        width: 100%;
        font-size: 2rem;
        margin: 30px 10px 10px;
    }

    .diagnosis .down p {
        font-size: 1.5rem;
        margin: 0 20px 10px 20px;

    }

    .diagnosis .down {
        padding: 10px;
    }

    .diagnosis .down .diawrap {
        border: #4D545A 2px solid;
    }

    .diagnosis a {
        display: block;
        width: 80%;
        margin: 20px auto;
        padding: 0px;
        font-size: 2rem;
    }

    .follow .follow_words {
        display: none;
    }

    .follow {
        margin-top: 90px;
        margin-bottom: 60px;

    }

    .ins {
        width: 100%;
        margin: 0 auto;
    }

    .ins h2:first-child {}

    .ins h2:nth-child(2) {
        display: none;
    }

    .ins .insp {}
}