@import url(reset.css);
@import url(global.css);

/* ----------------------登入-------------------- */

.window{
    width: 850px;
    font-size: 30px;
    margin: 0 auto 100px;
}

.up img {
    width: 40px;
}

.window .down{
    color: #FFC6A9;
    padding: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.window .down a{
    color: #FFC6A9;
    text-decoration: underline;
}

form{
    width: 100%;
    box-sizing: border-box;
}

.keyin{
    font-size: 30px;
    margin-bottom: 50px;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
    color: #7E58A5;
    background-color: #FFC6A9;
    border: none;
    box-shadow: -4px -4px 8px rgb(255, 255, 255) inset,inset 6px 6px 6px #6b4a8c,inset -5px -5px 0px #7E58A5,#4D545A 5px 5px 0px inset;
}

.keyin::placeholder{
    color: #7E58A5;
    font-family: cubic11;
}

.keyin:focus{
    outline: none;
    box-shadow: inset 7px 9px 6px #D93970,inset -7px -7px 0px #D93970,#4D545A 7px 7px 2px inset,-8px -8px 4px rgb(255, 255, 255) inset;
}

button{
    /* border: none; */
    font-family: cubic11;
}

#login button{
    position: relative;
    border: none; 
    margin-bottom: 5px;
    left: 10%;
}


#remember{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#login label{
    font-size: 25px;
    float: right;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: 10px;
    right: 10px;
}

/* ----------------------忘記密碼-------------------- */

.forgetPassWord button{
    border: none; 
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
}

.forgetPassWord h2{
    margin-bottom: 40px;
}

/* ----------------------註冊-------------------- */

.signin button{
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    border: none; 
}

/* ----------------------診斷-------------------- */

#diag button{
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    border: none; 
}

#diag label{
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    /* background-color: #F59BBE; */

}

#diag label::before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FFC6A9;
    margin-right: 10px;
}

#diag {
    text-align: left;
}

#diag h2{
    margin-bottom: 20px;
}

.diag .down{
    padding-top: 50px;
}

#diag input{
    display: none;
}


input[type=radio]+span {
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 15px;
    user-select: none;
    transition: all .1s ease;
}

input[type=radio]:checked+span {
    /* color:#7E58A5; */
    /* border-bottom: #7E58A5 2px dashed; */ 
    background-color: #7e58a5b6;
}

input[type=radio]+span::before {
    content: '\2714';
    display: inline-block;
    vertical-align: middle;
    color: #7e58a5df;
    font-size: 1.6em;
    opacity: 0;
    transition: all .2s ease;
    position: relative;
    left: -33px;
}

input[type="radio"]:checked+span::before {
    opacity: 1;
}